html{
    scroll-behavior: smooth;

}


.smlnav{
    padding:1% 10%;
    height:min-content;
    background: #00656D;
    color: rgb(255, 207, 144);
}
.is{
 
    
}
.x{
    list-style-type:none;
    margin-left: 15px;
    overflow: hidden;
}
.xx{
    list-style-type:circle;
    
}
.x li{
    float: left;
    
}
.x li a{

    display:block;
    color: rgb(255, 207, 144);
    

   /* padding: 8px;*/
}
.x li a:hover{
    text-decoration: none;
    color: bisque;
}



@media (max-width:767px)
{
    .nav-link{
        background: #17A2B8;
        margin: 10px;
        color: white;
    }
    .banner-container h1{
        font-size: 2.5rem;
    }





    
}

body{

}
h1,h2,h3,h4,h5,h6{


}

/*footer*/
footer{
    background-image: url("https://images.pexels.com/photos/1421903/pexels-photo-1421903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg{
    background-color: #ff8f8f1e;
}
.lst li{

    color:cornsilk; 
    font-size: larger; 
    line-height: 50px;

}
.lst li :hover {
    color: navy;
    

}

/*footer ends*/



.nav-icon{
    color: orange;
}

.navbar{
    padding:1% 10%;
    /*background-color: rgba(0,0,0,0.3);*/
    /*background: tomato;*/
    background: white;

}
.nav-link{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition:.4s;
}
.nav-link:hover{
    background:tomato;
    transform: scale(1.1);
    color: white;
}






.icon-style{
    background:#F8A555;
    color:white;
    margin-left: 20px;
    margin-right: 10px;

}
.bg1{
    background-repeat: no-repeat;
    background-size: cover;
    

}
.contain{
    padding: 50px;
    width: 100%;
    background-color:#ffa07a73;
}
.contain2{
    padding: 20px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0.1px 10px rgba(184, 202, 177, 0.401);
    
}
.bgst{
    background-color: #17A2B8;
    border-radius: 38px;
    color: antiquewhite;
    text-align: center;
    padding: 8px;
}
.ta{
    resize: none;
}
@media (min-width:1100px)
{
    .smlnav{
        height: 50px;

    }
    .sg{
        height:80px;
    }
    .contain2{
        width: 1000px;
    }



}