html{
    scroll-behavior: smooth;

}


.smlnav{
    padding:1% 10%;
    height:min-content;
    background: #00656D;
    color: rgb(255, 207, 144);
}
.is{
 
    
}
.x{
    list-style-type:none;
    margin-left: 15px;
    overflow: hidden;
}
.xx{
    list-style-type:circle;
    
}
.x li{
    float: left;
    
}
.x li a{

    display:block;
    color: rgb(255, 207, 144);
    

   /* padding: 8px;*/
}
.x li a:hover{
    text-decoration: none;
    color: bisque;
}



@media (max-width:767px)
{
    .nav-link{
        background: #17A2B8;
        margin: 10px;
        color: white;
    }
    .thm1{
        visibility: hidden;
        align-content: center;
        justify-content: center;
        text-align: center;
        background-color: #00656D;
        color: rgb(255, 207, 144);
        padding: 22px;
        align-items: center;
    }





    
}

body{

}
h1,h2,h3,h4,h5,h6{


}



.nav-icon{
    color: orange;
}

.navbar{
    padding:1% 10%;
    /*background-color: rgba(0,0,0,0.3);*/
    /*background: tomato;*/
    background: white;

}
.nav-link{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition:.4s;
}
.nav-link:hover{
    background:tomato;
    transform: scale(1.1);
    color: white;
}

.icon-style{
    background:#F8A555;
    color:white;
    margin-left: 20px;
    margin-right: 10px;

}
.bg{
    /*background-image: url("https://images.pexels.com/photos/4498142/pexels-photo-4498142.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4498142.jpg&fm=jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ff7b00;
    

}
.contain{
    padding: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.493);
}
.contain2{
    padding: 20px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.911);
    box-shadow: 0px 0.1px 10px rgba(255, 255, 255, 0);
    
}
.bgst{
    background-color: #17A2B8;
    border-radius: 38px;
    color: antiquewhite;
    text-align: center;
    padding: 8px;
}
.ta{
    resize: none;
}
.thm{
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #00656D;
    color: rgb(255, 207, 144);
    padding: 22px;
}
@media (min-width:800px)
{
    .contain2{
        width: 700px;
    }
    .smlnav{
        height: 1%;

    }
    .sg{
        height: 80px;
    }
    .thm{
        visibility:hidden;
        display: none;
        width:0rem;
    }
    .thm1{

        background-color: #00656D;
        color: rgb(255, 207, 144);
        padding: 22px;
        
    }



}
@media (min-width:1100px)
{
    .smlnav{
        height: 1%;

    }
    .sg{
        height:80px;
    }



}